.txaddress a {
    @apply break-all font-mono text-sm text-sui-dark;
}

.txaddress h4 {
    @apply m-0 text-heading4 font-semibold;
}

.label {
    border-bottom: 1px solid #f0f1f2;
    @apply mt-0 mb-2 border-b-[1px]  border-[#f0f1f2] text-lg font-[500] text-sui-grey-100 md:border-0;
}

.oneaddress {
    @apply flex w-[99%] items-center gap-[8px] text-[14px] leading-[90%];
}

.oneaddress a {
    @apply pr-[8px];
}

.recipientbox {
    @apply flex flex-col items-start gap-[20px];
}

.senderbox {
    @apply flex flex-col gap-[10px];
}

.recipientbox h4 {
    @apply mt-[30px];
}

.oneheading {
    @apply mb-[25px];
}

.doneicon svg {
    @apply fill-success;
}

.sui {
    @apply mt-[9.5px] flex flex-row items-start gap-[4px];
}

.suiamount {
    @apply ml-[24px] text-heading6 font-semibold text-sui-grey-100;
}

.suilabel {
    @apply pt-[2px] text-bodySmall text-sui-grey-80;
}

.doneiconwline {
    @apply relative ml-[10px];
}

.doneiconwline::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 50%;
    right: 16px;
    width: 12px;
    height: 200%;
    border: 1px dashed #a0b6c3;
    border-bottom-left-radius: 4px;
    border-right: none;
    border-top: none;
    overflow: hidden;
}

@media only screen and (max-width: 439px) {
    .doneiconwline::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 50%;
        right: 16px;
        width: 12px;
        height: 300%;
        border: 1px dashed #a0b6c3;
        border-bottom-left-radius: 4px;
        border-right: none;
        border-top: none;
        overflow: hidden;
    }
}

.amountbox {
    @apply mt-[10px];
}

.amountbox > :first-child {
    @apply mb-[10px] text-heading4 font-semibold text-sui-grey-100;
}

.amountbox > :nth-child(2) {
    @apply mt-0 mb-[40px] h-[19px] text-[24px] font-bold leading-[80%] text-sui-grey-90;
}

.amountbox > :nth-child(2) sup {
    @apply ml-[4px] h-[13px] text-[13px] font-medium leading-[100%] text-sui-grey-80;
}
